.signin {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid black; */

  h1 {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
