.signin {
  width: 30%;

  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
  border-radius: 10px;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
